@tailwind utilities;

/* PopOver Component */
@layer utilities {
  .nav-popover {
    @apply text-sm/6 font-primary font-semibold text-white/80 duration-500 ease-in
        focus:outline-none flex gap-1 items-center;
  }
  .nav-popover[data-active] {
    @apply text-secondary bg-gray-200 rounded-lg p-1;
  }
  .nav-popover[data-hover] {
    @apply text-secondary bg-gray-200 rounded-lg p-1;
  }
  .nav-popover[data-focus] {
    @apply outline-1 outline-secondary;
  }
}

/* Transition Menu Component */
@layer utilities {
  .transition-enter {
    @apply transition ease-out duration-200;
  }
  .transition-enter-from {
    @apply opacity-0 translate-y-1;
  }
  .transition-enter-to {
    @apply opacity-100 translate-y-0;
  }
  .transition-leave {
    @apply transition ease-in duration-150;
  }
  .transition-leave-from {
    @apply opacity-100 translate-y-0;
  }
  .transition-leave-to {
    @apply opacity-0 translate-y-1;
  }
}

/* PopOverPanel Component */
@layer utilities {
  .custom-divide {
    @apply divide-y divide-white/5 rounded-xl text-sm/6 mt-4;
  }
  .custom-anchor-gap {
    --anchor-gap: var(--spacing-5);
  }
  .popover-link {
    @apply block rounded-lg py-2 px-3 transition text-slate-200 
    hover:bg-gray-500 hover:bg-opacity-40;
  }
}

/* Menu Items */
@layer utilities {
  .menu-items-container {
    @apply z-[50] w-[50] mt-2 rounded-xl shadow-md p-1 text-sm/6 text-primary;
  }
  .menu-items-btn {
    @apply flex text-white w-full items-center gap-2 rounded-lg py-1.5 px-3 focus:bg-secondary cursor-pointer
    hover:bg-gray-500 hover:bg-opacity-40 hover:text-accent duration-1000 ease-in-out;
  }
}

/* Modal Component */
@layer utilities {
  .dialog {
    @apply relative z-10 focus:outline-none;
  }
  .dialog-panel {
    @apply w-full flex flex-col items-center max-w-md rounded-xl 
      border-[1px] backdrop-blur-xl p-6;
  }
  .dialog-title {
    @apply flex gap-2 justify-evenly items-center text-xl font-bold text-center mb-2;
  }
  .dialog-close-btn {
    @apply absolute right-10 top-2 text-danger cursor-pointer duration-500 ease-in hover:text-red-400;
  }
  .dialog-paragraph {
    @apply mt-2 text-sm/6 font-bold;
  }
  .modal-btn {
    @apply bg-secondary text-white tracking-wide px-4 py-1 rounded-2xl text-sm/5;
  }
}
