@tailwind components;
@tailwind utilities;

/* Contact Us Section and Address */
@layer components {
    .form-container {
    @apply mx-auto max-w-md md:max-w-full md:mx-0 2xl:max-w-full px-6
    my-4 py-12 border-2 rounded-2xl shadow-lg sm:rounded-3xl;
  }
  .form-title {
    @apply text-2xl font-bold mb-8 text-center;
  }
  .form-field {
    @apply relative z-0 mb-5 p-1 ;
  }

  .form-input {
    @apply block w-full pt-3 pb-2 px-0 mt-0 focus:border-secondary
     ;
  }

  .form-label {
    @apply absolute duration-300 top-3 z-[-1] origin-[0%] text-white/80;
  }

  .form-field-textarea {
    @apply flex flex-col gap-2 text-white/80;
  }

  .form-billing-select {
    @apply pt-3 pb-2 block w-full px-0 mt-0 z-[-1] border-gray-200;
  }
  .address-container {
    @apply flex flex-col gap-2 p-4 lg:w-[95%]
     border-[0.5px] shadow-md rounded-xl;
  }
  .address-header {
    @apply flex justify-start gap-2 items-center text-lg;
  }
  
  input:focus ~ label,
  input:not(:placeholder-shown) ~ label,
  textarea:focus ~ label,
  textarea:not(:placeholder-shown) ~ label,
  select:focus ~ label,
  select:not([value=""]):valid ~ label {
    @apply translate-x-[var(--tw-translate-x)] translate-y-[var(--tw-translate-y)] 
    rotate-[var(--tw-rotate)] skew-x-[var(--tw-skew-x)] skew-y-[var(--tw-skew-y)] 
    scale-x-[var(--tw-scale-x)] scale-y-[var(--tw-scale-y)];
    /* @apply transform; scale-75; -translate-y-6; */
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 0.75;
    --tw-scale-y: 0.75;
    --tw-translate-y: -1.5rem;
  }
  input:focus ~ label,
  textarea:focus ~ label,
  select:focus ~ label {
    @apply text-[rgba(5,47,71,var(--tw-text-opacity))] left-0;
    /* @apply text-black; left-0; */
    --tw-text-opacity: 1;
  }
}

/* Quote Generator Section */
@layer components {
  .quote-section-layout {
    @apply flex flex-col justify-center items-center gap-4;
  }
  .quote-card-container {
    @apply flex flex-col justify-between
    w-full max-w-[90%] md:max-w-[50%] border-2 rounded-2xl p-4;
  }
  .quote-header {
    @apply flex flex-col justify-center items-end mt-1 md:py-2;
  }
  .quote-statement {
    @apply font-bold md:text-[20px] xl:text-[22px] md:max-w-full md:mr-auto
          text-justify;
  }
  .quote-author-name {
    @apply flex gap-1 items-center mt-2 text-sm md:text-[18px] md:p-1;
  }
  .quote-tags {
    @apply text-sm md:text-[18px] md:p-2.5
      rounded-2xl p-2 shadow-md mb-4;
  }
}

