@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;


/* Blue, White, Navy Blue, Black, Light Green, Rose */
:root {
  --primary-color: hsl(202, 100%, 35%);  
  --secondary-color: hsl(30, 8%, 95%);  
  --accent-color: hsl(248, 92%, 25%);  
  --neutral: hsl(0, 0%, 8%);  
  --neutral-green: hsl(163, 75%, 34%); 
  --danger-color: hsl(338, 79%, 58%);  
  --primary-font: "Merriweather", "Sans serif";
  --secondary-font: "Abril Fatface", serif;
}

* {
  box-sizing: border-box;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

/* Theme Context */
@layer utilities {
  .blue-glass {
    @apply backdrop-blur-[3px] backdrop-saturate-[125%] bg-[rgba(0,114,178,0.50)] shadow-md;
    -webkit-backdrop-filter: blur(3px) saturate(150%);
  }
  .bg-secondary-glass {
    @apply bg-[rgba(0,114,178,0.5)] backdrop-blur-[3px] 
    backdrop-saturate-[100%] text-[white];
    -webkit-backdrop-filter: blur(3px) saturate(150%);
  }
  .form-glass {
    @apply backdrop-blur-[3px] backdrop-saturate-[150%]
     bg-[rgba(243,242,241,0.8)] shadow-md;
    -webkit-backdrop-filter: blur(3px) saturate(150%);
  }
}

/* Media Query */
@layer utilities {
  .section-container {
    @apply w-full m-auto text-justify pt-[65px];
  }
  .footer-container {
    @apply lg:max-w-[1100px] md:max-w-[700px] max-w-[320px] m-auto;
  }
  .query-container {
    @apply xs:max-w-[90%] md:max-w-[90%] lg:max-w-[85%] xl:max-w-[80%]
      sm:max-w-full  2xs:max-w-[250px] m-auto;
  }
}

/* Typography */
@layer utilities {
  .section-header {
    @apply font-bold text-2xl md:text-3xl tracking-wide ;
  }
  .section-subtitle {
    @apply font-light text-base md:text-[18px] leading-none ;
  }
  .section-content {
    @apply mt-10 text-pretty text-base xl:max-w-[60%] 2xl:max-w-[68%]
    md:text-[18px] md:font-medium tracking-wide font-light 
    text-center leading-tight md:text-justify ;
  }
}
